<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.RegisterServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpenseServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.AddExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExpenseServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ViewExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewExpensesServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.AdminViewExpensesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExpenseServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.DeleteExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardDataServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.DashboardDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterExpenseServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.FilterExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportCSVServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ExportCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDFServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ExportPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExpenseServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.EditExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.UpdateExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.VerifyOTPServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>ResendOtpServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ResendOtpServlet</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>SendResetOtpServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.SendResetOtpServlet</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ResetPasswordServlet</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.UpdatePasswordServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>SetBudgetServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.SetBudgetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportScheduler</servlet-name>
        <servlet-class>com.mycompany.expensetracker.tasks.ReportScheduler</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>EmailCSVTestServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.EmailCSVTestServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>GenerateReportServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.GenerateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.AdminDashboardServlet</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>-->
<!--    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ProfileServlet</servlet-class>
    </servlet>-->
<!--    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.UpdateProfileServlet</servlet-class>
    </servlet>-->
<!--    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.mycompany.expensetracker.servlets.ChangePasswordServlet</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpenseServlet</servlet-name>
        <url-pattern>/AddExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExpenseServlet</servlet-name>
        <url-pattern>/ViewExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewExpensesServlet</servlet-name>
        <url-pattern>/AdminViewExpensesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExpenseServlet</servlet-name>
        <url-pattern>/DeleteExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardDataServlet</servlet-name>
        <url-pattern>/DashboardDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterExpenseServlet</servlet-name>
        <url-pattern>/FilterExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/AnalyticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportCSVServlet</servlet-name>
        <url-pattern>/ExportCSVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDFServlet</servlet-name>
        <url-pattern>/ExportPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExpenseServlet</servlet-name>
        <url-pattern>/EditExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <url-pattern>/UpdateExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>ResendOtpServlet</servlet-name>
        <url-pattern>/ResendOtpServlet</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>SendResetOtpServlet</servlet-name>
        <url-pattern>/SendResetOtpServlet</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SetBudgetServlet</servlet-name>
        <url-pattern>/SetBudgetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportScheduler</servlet-name>
        <url-pattern>/ReportScheduler</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>EmailCSVTestServlet</servlet-name>
        <url-pattern>/EmailCSVTestServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>GenerateReportServlet</servlet-name>
        <url-pattern>/GenerateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>-->
    <!--</servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
